DATABASE_URL="postgresql://neondb_owner:PASSWORD@ep-XXXX.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://neondb_owner:PASSWORD@ep-XXXX.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_ROUNDS=12
PORT=3002
